<section class="add-product-container">
  <h1 class="title">Add Product</h1>
  <form [formGroup]="addForm" class="form-container">
    <div class="form-group">
      <mat-form-field>
        <mat-label>Product Name</mat-label>
        <input formControlName="name" matInput required />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Product Description</mat-label>
        <input formControlName="description" matInput required />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Product Cost</mat-label>
        <input formControlName="cost" matInput required />
      </mat-form-field>

      <mat-form-field>
        <mat-label>SKU</mat-label>
        <input formControlName="sku" matInput required />
      </mat-form-field>
    </div>

    <div formGroupName="profile">
      <div class="form-group">
        <mat-form-field>
          <mat-label>Type</mat-label>
          <mat-select formControlName="type">
            <mat-option value="furniture">Furniture</mat-option>
            <mat-option value="equipment">Equipment</mat-option>
            <mat-option value="stationary">Stationary</mat-option>
            <mat-option value="part">Part</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Backlog</mat-label>
          <input formControlName="backlog" matInput type="number" />
        </mat-form-field>

        <mat-checkbox formControlName="available">Available</mat-checkbox>
      </div>

      <div formArrayName="customProperties">
        <div
          class="form-key-value"
          *ngFor="let customProp of customProperties.controls; let i = index"
          [formGroupName]="i"
        >
          <mat-form-field>
            <mat-label>Key</mat-label>
            <input formControlName="key" matInput required />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Value</mat-label>
            <input formControlName="value" matInput required />
          </mat-form-field>
          <button type="button" (click)="removeCustomProperty(i)" mat-button>
            Remove
          </button>
        </div>
        <button type="button" (click)="addCustomProperty()" mat-button>
          Add Custom Property
        </button>
      </div>
    </div>

    <button
      (click)="onAddProduct()"
      mat-raised-button
      [disabled]="!addForm.valid"
    >
      Add Product
    </button>
  </form>
</section>
