<section class="add-product-container">
  <h1 class="title">Add Product</h1>
  <form [formGroup]="addForm" class="form-container">
    <div class="form-group">
      <mat-form-field>
        <mat-label>Product Name</mat-label>
        <input formControlName="name" matInput required />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Product Description</mat-label>
        <input formControlName="description" matInput required />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Product Cost</mat-label>
        <input formControlName="cost" matInput required />
      </mat-form-field>

      <mat-form-field>
        <mat-label>SKU</mat-label>
        <input formControlName="sku" matInput required />
      </mat-form-field>
    </div>

    <div formGroupName="profile" class="form-group">
      <app-profile-editor [parentForm]="profileForm"></app-profile-editor>
    </div>

    <button
      (click)="onAddProduct()"
      mat-raised-button
      [disabled]="!addForm.valid || !profileForm.valid"
    >
      Add Product
    </button>
  </form>
</section>
