.add-product-container {
  margin-top: 3rem;
}

.form-container {
  max-width: 1200px;
  margin: 0 auto;
}

.form-group {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.form-key-value {
  display: flex;
  align-items: center;
  gap: 2rem;
}
