<section [formGroup]="parentForm">
  <div class="form-group">
    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let option of typeOptions" [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Backlog</mat-label>
      <input formControlName="backlog" matInput type="number" />
    </mat-form-field>
  </div>

  <mat-checkbox formControlName="available">Available</mat-checkbox>

  <app-custom-property [parentForm]="parentForm"></app-custom-property>
</section>
