<mat-dialog-content [formGroup]="editForm">
  <h1 mat-dialog-title>Edit Product</h1>

  <div class="form-group">
    <mat-form-field>
      <mat-label>Product Name</mat-label>
      <input formControlName="name" matInput required />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Product Description</mat-label>
      <input formControlName="description" matInput required />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Product Cost</mat-label>
      <input formControlName="cost" matInput required />
    </mat-form-field>
  </div>

  <div formGroupName="profile">
    <app-profile-editor [parentForm]="profileForm"></app-profile-editor>
  </div>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
    <button
      mat-button
      [mat-dialog-close]="editForm.value"
      [disabled]="editForm.invalid"
    >
      Save
    </button>
  </mat-dialog-actions>
</mat-dialog-content>
